.groups {
  background-color: #fff;
  padding-top: 20px;
}

.groups_title {
  border: #DDE8EB 1px solid;
  width: 670px;
  margin: 0 auto;
  display: table;
}

.groups_title_bg {
  margin: -1px;
}

.groups_title_content {
  padding: 18px 14px 13px 14px;
}

.groups_title_name {

  strong {
    color: #1E3544;
    display: block;
    font-size: 22px;
    line-height: 29px;
  }

  span {
    color: rgba(#1E3544, .4);
    line-height: 19px;
  }
}