<div class="create_event">
  <div class="create_event_title">
    <span>Додати нову подію</span>

    <a href="#" class="button button_send">Опублікувати</a>
  </div>

  <div class="create_event_content">
    <form>
      <div class="field_item">
        <label>Де опублікувати</label>

        <div class="field_item_section">
          <div class="field_item_title">
            <span>Вказати сусідів</span>
          </div>

          <div class="field_item_content">
            <div class="field_subitem_section"><span>Місцеві</span>
              <div class="field_subitem">
                <div class="radio" id="uniform-category1"><span><input type="radio" id="category1" uniform="" name="category"></span></div>
                <label for="category1">59 Kuhn Mountains Apt. 390</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category2"><span><input type="radio" id="category2" uniform="" name="category"></span></div>
                <label for="category2">2956 Hazel Prairie</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category3"><span><input type="radio" id="category3" uniform="" name="category"></span></div>
                <label for="category3">556 Kacie Underpass</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category4"><span><input type="radio" id="category4" uniform="" name="category"></span></div>
                <label for="category4">231 Bartoletti Row</label>
              </div>
            </div>

            <div class="field_subitem_section"><span>Групи</span>
              <div class="field_subitem">
                <div class="radio" id="uniform-category5"><span><input type="radio" id="category5" uniform="" name="category"></span></div>
                <label for="category5">Edgar Kelley</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category6"><span><input type="radio" id="category6" uniform="" name="category"></span></div>
                <label for="category6">Emilie Curry</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category7"><span><input type="radio" id="category7" uniform="" name="category"></span></div>
                <label for="category7">Gilbert Singleton</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category7"><span><input type="radio" id="category7" uniform="" name="category"></span></div>
                <label for="category7">Lois Wells</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field_item">
        <label>Назва</label>
        <div class="field_item_section">
          <input type="text" placeholder="Вкажіть назву" class="input">
        </div>
      </div>
      <div class="field_item field_date">
        <label>Дата та час</label>
        <div class="field_item_section">
          <div class="field_date_item">
            <input type="text" class="input calendar hasDatepicker" id="dp1487874631216"><img class="ui-datepicker-trigger" src="/assets/images/calendar_icon.png" alt="Select date" title="Select date">
          </div>
          <div class="field_date_item">
            <input type="text" class="input">
          </div>
        </div>
      </div>

      <div class="field_item">
        <label>Місце</label>
        <div class="field_item_section">
          <input type="text" placeholder="Вкажіть адресу" class="input">
        </div>
      </div>

      <div class="field_item">
        <label>Опис</label>
        <div class="field_item_section">
          <textarea placeholder="Додайте опис" class="textarea"></textarea>
        </div>
      </div>

      <div class="field_item">
        <label>Категорія</label>
        <div class="field_item_section">
          <div class="field_item_title"><span>Оберіть категорію</span></div>
          <div class="field_item_content">
            <div class="field_subitem_section">
              <div class="field_subitem">
                <div class="radio" id="uniform-category1"><span><input type="radio" id="category1" uniform="" name="category"></span></div>
                <label for="category1">Фестиваль</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category2"><span><input type="radio" id="category2" uniform="" name="category"></span></div>
                <label for="category2">Курси</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category3"><span><input type="radio" id="category3" uniform="" name="category"></span></div>
                <label for="category3">Зустрічі</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category4"><span><input type="radio" id="category4" uniform="" name="category"></span></div>
                <label for="category4">Вечірки</label>
              </div>
            </div>
            <div class="field_subitem_section">
              <div class="field_subitem">
                <div class="radio" id="uniform-category5"><span><input type="radio" id="category5" uniform="" name="category"></span></div>
                <label for="category5">Батьківські збори</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category6"><span><input type="radio" id="category6" uniform="" name="category"></span></div>
                <label for="category6">Спорт</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category7"><span><input type="radio" id="category7" uniform="" name="category"></span></div>
                <label for="category7">Концерт</label>
              </div>
              <div class="field_subitem">
                <div class="radio" id="uniform-category7"><span><input type="radio" id="category7" uniform="" name="category"></span></div>
                <label for="category7">Інше</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field_item field_upload">
        <label>Обкладинка</label>
        <div class="field_item_section">
          <div class="field_upload_wrapper">
            <div class="field_upload_links">
              <div class="uploader_button">
                <input type="file" class="uploader"><a href="#" class="button button_upload">Завантажити світлину</a>
              </div><a href="#" class="button button_choice">Обрати оформлення</a>
            </div>
          </div>
        </div>
      </div>

      <div class="field_item field_agree">
        <label>Видимість</label>
        <div class="field_item_section">
          <div class="checker"><span><input type="checkbox" uniform=""></span></div>
          <label for="">Показати цей захід всім користувачам Сусід.Online </label>
        </div>
      </div>

      <div class="field_item field_agree">
        <label>Сповіщення</label>
        <div class="field_item_section">
          <div class="checker"><span><input type="checkbox" uniform=""></span></div>
          <label for="">Сповістіть сусідів про захід</label>
        </div>
      </div>

      <div class="field_item field_links">
        <input type="submit" value="НАДІСЛАТИ" class="button button_send"><a href="#">Відмінити</a>
      </div>
    </form>
  </div>
</div>
