<div class="event">
  <div class="event_title">
    <span>Календар заходів</span>
  </div>

  <div class="event_content">
    <div class="tabs">
      <ul>
        <li class="current"><a href="javascript:void(0);" data-anchor="future">Майбутні</a></li>
        <li><a href="javascript:void(0);" data-anchor="event">Мої заходи</a></li>
        <li><a href="javascript:void(0);">Мапа</a></li>
      </ul>

      <div class="event_filter">
        <span>Упорядкувати:</span>

        <a href="#">Район</a>
        <a href="#">Сусідні райони</a>
        <a href="#">Всі райони</a>
      </div>

      <div class="event_public">
        <div class="event_public_info">
          <div class="event_public_icon"></div>
          <div class="event_public_description">
            <span>Розповісти про захід сусідам</span>
            <p>Дізналися про цікавий захід, що скоро відбудеться? Розкажіть сусідам!</p>
          </div>
        </div>

        <div class="event_public_button">
          <a class="button button_add" routerLink='/cabinet/events/new'>Додати захід</a>
        </div>
      </div>

      <!-- TODO -->
    </div>
  </div>
</div>
