<div class="user_profile_edit_content">
  <div class="field_item_section">
    <div class="field_item_section_info">
      <div class="field_item field_name">
        <label>Ім’я</label>
        <div class="field_item_section">
          <input type="text" class="input">
        </div>
      </div>
      <div class="field_item field_name">
        <label>Прізвище</label>
        <div class="field_item_section">
          <input type="text" class="input">
        </div>
      </div>
      <div class="field_item field_name">
        <label>День народження</label>
        <div class="field_item_section">
          <input type="text" class="input calendar hasDatepicker" id="dp1490645121563"><img class="ui-datepicker-trigger" src="/assets/images/calendar_icon.png" alt="Select date" title="Select date">
        </div>
      </div>
    </div>
    <div class="field_item_section_avatar">
      <div class="field_cover"><img src="/assets/images/profile_form_photo.png" alt=""><a href="#" class="cover_delete_link"></a></div>
    </div>
  </div>
  <div class="field_item field_interest">
    <label>Інтереси</label>
    <div class="field_item_section">
      <select2 [options]="{multiple: true, tags: true, theme: 'multiple-theme'}">
      </select2>
    </div>
  </div>
  <div class="field_item field_work">
    <label>Робота</label>
    <div class="field_item_section">
      <input type="text" class="input">
    </div>
  </div>
  <div class="field_item field_about">
    <label>Про себе</label>
    <div class="field_item_section">
      <textarea class="textarea"></textarea>
    </div>
  </div>
  <div class="field_item field_phone">
    <label>Телефон</label>
    <div class="field_item_section">
      <input type="text" class="input">
    </div>
  </div>
  <div class="field_item field_family">
    <div class="field_family_content">
      <label>Сім’я</label>
      <div class="field_family_item"><a href="#" class="field_family_delete"></a>
        <div class="field_family_photo"><img src="/assets/images/family_icon.png" alt=""></div>
        <p>Аліна</p>
      </div>
      <div class="field_family_item"><a href="#" class="field_family_delete"></a>
        <div class="field_family_photo"><img src="/assets/images/family_icon.png" alt=""></div>
        <p>Юра</p>
      </div>
      <div class="field_family_item"><a href="#" class="field_family_delete"></a>
        <div class="field_family_photo"><img src="/assets/images/family_icon.png" alt=""></div>
        <p>Оксана</p>
      </div>
      <div class="field_family_item"><a href="#" class="field_family_delete"></a>
        <div class="field_family_photo"><img src="/assets/images/family_icon.png" alt=""></div>
        <p>Микола</p>
      </div>
      <div class="field_family_item"><a href="#" class="field_family_delete"></a>
        <div class="field_family_photo"><img src="/assets/images/family_icon.png" alt=""></div>
        <p>Іра</p>
      </div>
      <div class="field_family_item field_family_pet">
        <div class="field_family_delete"></div>
        <div class="field_family_photo"></div>
        <p>Кікі</p><strong>Собака</strong>
      </div>
      <div class="field_family_item"><a href="" class="field_family_add"></a></div>
    </div>
  </div>
  <div class="field_item field_links"><a href="#" class="field_links_change">Змінити адресу проживання</a>
    <input type="submit" value="Опублікувати" class="button button_public"><a href="#" class="field_links_reset">Відмінити</a>
  </div>



</div>
