.cover_delete_link {
  background: url(/assets/images/delete_icon.png) no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.cursor-pointer {
  cursor: pointer;
}
