<div class="sidebar">
  <div class="nav">
    <ul>
      <li>
        <a routerLink="./dashboard" routerLinkActive="active">
          <strong>
            <b><img src="/assets/images/nav_main_icon.png" alt=""></b>
          </strong>
          <span>Головна</span>
        </a>
      </li>
      <li>
        <a routerLink="./messages" routerLinkActive="active">
          <strong>
            <b><img src="/assets/images/nav_message_icon.png" alt=""></b>
          </strong>
          <span>Повідомлення</span>
        </a>
      </li>
      <li>
        <a routerLink="./map" routerLinkActive="active">
          <strong>
            <b><img src="/assets/images/nav_map_icon.png" alt=""></b>
          </strong>
          <span>Карта</span>
        </a>
      </li>
      <li>
        <a routerLink="./events" routerLinkActive="active">
          <strong>
            <b><img src="/assets/images/nav_calendar_icon.png" alt=""></b>
          </strong>
          <span>Календар подій</span>
        </a>
        </li>
      <li>
        <a routerLink="./recommendations" routerLinkActive="active">
          <strong>
            <b><img src="/assets/images/nav_recommendation_icon.png" alt=""></b>
          </strong>
          <span>Рекомендації</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="local">
    <div class="local_item local_community">
      <div class="local_title"><span>Спільнота:</span><strong><a href="#">Перша лінія Конча Заспи</a></strong></div>
      <ul>
        <li><a href="#">Сусіди</a></li>
        <li><a href="#">Гідропарк</a></li>
        <li><a href="#">Місцеві Організації</a></li>
        <li><a href="#">Бізнес</a></li>
      </ul>
    </div>
    <div class="local_item local_payment">
      <div class="local_title"><a href="#">Платежі</a></div>
    </div>
    <div class="local_item local_categories">
      <div class="local_title"><span>Категорії</span></div>
      <ul>
        <li><a href="#">Оголошення</a></li>
        <li><a href="#">Безпека</a></li>
        <li><a href="#">Загублено/Знайдено</a></li>
        <li><a href="#">Куплю/Продам</a></li>
        <li><a href="#">Опитування</a></li>
        <li><a href="#">Документи</a></li>
      </ul>
    </div>
    <div class="local_item local_groups">
      <div class="local_title"><span>Групи</span></div>
      <ul>
        <li><a href="#">+Додати групу</a></li>
      </ul>
    </div>
  </div>
</div>
